@model IEnumerable<FilterTablePractice01.Models.Cliente>

@{
    ViewBag.Title = "ClientesporFecha";
}

<h3>CLIENTES (Filtro por Fecha)</h3>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@using (Html.BeginForm())
{
    <div class="form-group row mt-4">
        <label class="col-auto col-form-label">Ingresa el año de registro:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fecha" value="@ViewBag.fecha" />
        </div>
        <input type="submit" class="btn btn-success" value="BUSCAR" />
    </div>
}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idcli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomcli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apecli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomdist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_reg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idcli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomcli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apecli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomdist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_reg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
